* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
}

body {
  font-family: var(--font-primary);
  color: rgba(var(--shape), 1);
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}
